## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## Importing Data

In [2]:
# Folder Path

path = r'C:\Users\Windows 10\Documents\04-2023 Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\Windows 10\\Documents\\04-2023 Instacart Basket Analysis'

In [6]:
# Import order_products__prior.csv

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [7]:
# Import orders_checked.csv

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

## Checking and Merging Dataframes

In [ ]:
# Get into the habit of using the head() function to ensure nothing looks off about your imported dataframes.

In [8]:
# Check the output of df_ords_prior

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
# Check the output of df_ords

df_ords.head()

# Feedback from tutor:
# A heads up for the next task (you might have already faced that :D)
# You will find a column called Unnamed smth since you didn't pass index=false as a parameter to the to_csv() function.

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [ ]:
# The shape function is a great way to get a feel for the data you’re working with.
# Is the dataframe large? Small? Is it wide? Long?
# You’ll have a better idea how to proceed when armed with this general information

In [10]:
# Check the dimension of df_ords_prior

df_ords_prior.shape

(32434489, 4)

In [11]:
# Check the dimension of df_ords

df_ords.shape

(3421083, 7)

In [12]:
# Merge df_ords and df_ords_prior

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
# Check output of df_merged_large

df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [14]:
# Check value counts for '_merge' column

df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [ ]:
# Using the value_counts() function lets you quickly sum up all the values in the “_merge” column,
# letting you see instantly whether you have a full match or not.

## Export Merged Dataframe

In [15]:
# Export df_merged_large as .pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))